<?xml version="1.0" encoding="utf-8" ?>
	
<configuration>
	<connectionStrings>
		<add name ="employeeAzurePreviewDatabase"
			 providerName="System.Data.SqlClinet"
			 connectionString="Server=tcp:sqlclould.database.windows.net,1433;Initial Catalog=sql-CSTP2110Clould;Persist Security Info=False;User ID=adminuser;Password=angle0219#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;"/>
		
	</connectionStrings>
</configuration>
